.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#topbar-title {
    font-size: xx-large;
}

.topbar-link {
    color: black;
    text-decoration: none;
    margin: 0px 30px;
}